@import "tailwindcss";

@theme {
  --color-bg-main: #eef7f6;
  --color-bg-card: #e4f6f5;
  --color-bg-active: #ffd86f;
  --color-bg-day-active: #ffeab2;
  --color-primary: #01253b;
  --color-secondary: #657a83;
  --color-muted: #9a9a9a;
  --color-link: #087977;
  --color-danger: #ff6060;
  --radius-sm: 15px;
  --radius-md: 20px;
  --radius-pill: 50px;
  --font-inter: "Inter", sans-serif;
}
